<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="~/logo.ico">
    <title>@ViewData["Title"] - Dua Control</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/jquery-datatables/css/dataTables.bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/sb-admin-2.css" />
        @*<link rel="stylesheet" href="~/lib/jquery-datatables/css/datatables.css" />*@
        <link rel="stylesheet" href="~/lib/dropzone/dist/css/dropzone.css" />
        <link rel="stylesheet" href="~/lib/dropzone/dist/css/basic.css" />
        <link rel="stylesheet" href="~/lib/alertifyjs/css/alertify.min.css" />
        <link rel="stylesheet" href="~/lib/alertifyjs/css/themes/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/jquery-datatables/css/dataTables.bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/sb-admin-2.css" />
        @*<link rel="stylesheet" href="~/lib/jquery-datatables/css/datatables.css" />*@
        <link rel="stylesheet" href="~/lib/dropzone/dist/css/dropzone.css" />
        <link rel="stylesheet" href="~/lib/dropzone/dist/css/basic.css" />
        <link rel="stylesheet" href="~/lib/alertifyjs/css/alertify.min.css" />
        <link rel="stylesheet" href="~/lib/alertifyjs/css/themes/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    </environment>
</head>
<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Facturas" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-file-invoice"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Dua Control</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Facturas" asp-action="Index">
                    <i class="fas fa-fw fa-file-invoice-dollar"></i>
                    <span>Facturas</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Puertos" asp-action="Index">
                    <i class="fas fa-fw fa-anchor"></i>
                    <span>Puertos</span>
                </a>
            </li>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Empleados"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Index">
                        <i class="fas fa-fw fa-user-alt"></i>
                        <span>Usuarios</span>
                    </a>
                </li>
            }
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
        <!-- End of Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                <img class="img-profile rounded-circle">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>&copy; 2020 - @DateTime.Now.Year - Dua Control by La Fabril C por A.</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>

    </div>

    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Facturas" asp-action="Index">Dua Control</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Puertos" asp-action="Index">Puertos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@
    @*<div class="container-fluid">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>*@
    @*<footer class="border-top footer text-muted">
        <div class="container">
            <p>&copy; 2020 - @DateTime.Now.Year - Dua Control by La Fabril C por A.</p>
        </div>
    </footer>*@

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/sb-admin-2.js"></script>
        <script src="~/lib/jquery-datatables/dist/datatables.js"></script>
        <script src="~/lib/jquery-datatables/dist/dataTables.bootstrap4.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/sb-admin-2.js"></script>
        <script src="~/lib/jquery-datatables/dist/datatables.js"></script>
        <script src="~/lib/jquery-datatables/dist/dataTables.bootstrap4.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>