@model IEnumerable<DuaControl.Web.Data.Entities.Factura>

@{
    ViewData["Title"] = "Facturas";
}
@*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />*@
<br />
<h2>Facturas</h2>

<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive" id="MyTable">

                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.InvoiceNumber)</th>
                            <th>
                                @Html.DisplayNameFor(model => model.InvoiceDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Client.ClienteId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Client.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Client.BusinessName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Port.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Details)
                            </th>
                            <th>
                                Adjuntos
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Remarks)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.InvoiceNumber)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InvoiceDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Client.ClienteId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Client.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Client.BusinessName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Port.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Details)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Adjuntos.Count)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remarks)
                            </td>
                            <td>
                                <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-id="@item.Id"><i class="glyphicon-pencil" title="Edit"></i> </a>
                                <a asp-action="Details" class="btn btn-sm btn-info" asp-route-id="@item.Id"><i class="glyphicon glyphicon-list" title="Details"> </i> </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>*@

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
            // Delete item
        });
    </script>
}
